<div class="container my-5">
  <h1 class="mb-3">Edit Product</h1>
  <hr/>

  <div class="row">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="updateProduct()">
        <div class="mb-3">
          <label for="id" class="form-label">Id</label>
          <input type="text" class="form-control" id="id" aria-describedby="codeHelp" 
          name="id" [(ngModel)]="productDetails.id" readonly>
          <div id="codeHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="code" class="form-label">Code</label>
          <input type="text" class="form-control" id="code" aria-describedby="codeHelp" 
          name="code" [(ngModel)]="productDetails.code">
          <div id="codeHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="text" class="form-control" id="description" aria-describedby="descriptionHelp"
          name="description" [(ngModel)]= "productDetails.description" >
          <div id="descriptionHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="barcode" class="form-label">Barcode</label>
          <input type="number" class="form-control" id="barcode" aria-describedby="barcodeHelp"
          name="barcode" [(ngModel)]="productDetails.barcode" >
          <div id="barcodeHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="retailPrice" class="form-label">Retail Price</label>
          <input type="number" class="form-control" id="retailPrice" aria-describedby="retailPriceHelp"
          name="retailPrice" [(ngModel)]="productDetails.retailPrice">
          <div id="retailPriceHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="wholesalePrice" class="form-label">Wholesale Price</label>
          <input type="number" class="form-control" id="wholesalePrice" aria-describedby="wholesalePriceHelp"
          name="wholesalePrice" [(ngModel)]="productDetails.wholesalePrice" >
          <div id="wholesalePriceHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="discount" class="form-label">Discount</label>
          <input type="number" class="form-control" id="discount" aria-describedby="discountHelp"
          name="discount" [(ngModel)]="productDetails.discount">
          <div id="discountHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <hr>
        <div class="d-flex justify-content-evenly"> 
          <button type="submit" class="btn btn-warning btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
            </svg>
            Update
          </button>
          <button type="button" class="btn btn-danger btn-lg" (click)="deleteProduct(productDetails.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-x" viewBox="0 0 16 16">
              <path d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>
              <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
            </svg>
          Delete
          </button>
        </div>
        
      </form>
    </div>
  </div>
  
</div>