<div class="container my-5">
<h1 class="mb-3 display-3">Products List</h1>
<hr/>
<table class="table table-striped text-center" *ngIf="products && products.length> 0">
  <thead class="table table-dark">
    <tr class="align-middle">
      <th>Id</th>
      <th>Code</th>
      <th>Description</th>
      <th>Barcode</th>
      <th>Retail Price</th>
      <th>Wholesale Price</th>
      <th>Discount</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.code}}</td>
      <td>{{product.description}}</td>
      <td>{{product.barcode}}</td>
      <td>{{product.retailPrice}}</td>
      <td>{{product.wholesalePrice}}</td>
      <td>{{product.discount}}</td>
      <td><a [routerLink]="['/products','edit',product.id]" class="btn btn-sm btn-primary"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
        </svg>View</a></td>
    </tr>
  </tbody>
</table>
<p *ngIf="!products || products.length <= 0">No Products Found</p>
</div>
